body{
    background-image: url(../imagens/fundo-site.jpg); /*trocar para um fundo em 3D*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family: 'VT323', monospace; /*trocar para letra de jogos or animado*/
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color: #070d12; /*pense na borda de fora amarela e a de perfil verde*/
    width: 370px;
    border: 2px solid #e126d9;
    border-radius: 10px;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha horizontalmente por causa do flex direction column*/
    gap: 10px;
}

.cartao .minhas-informacoes img{
width: 96px;
height: 96px;
border-radius: 50px;
border: 4px solid #02d08f /*tocar para rgb em movimento*/
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5
}

.cartao .conteudo{
    background-color: red; /*usado para demarcar melhor os blocos*/
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
}

.cartao .abas .aba{
width: 50%;
display: flex;
justify-content: center;
padding: 10px 0;
cursor: pointer;
}

.cartao .abas img{
    width: 30px;
}



span{
    color: green;
}

a{
    color: red;
}
